@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: var(--estedad-font);
  min-height: 100vh;
  user-select: none;
}

@layer components {
  .icon {
    @apply w-5 h-5 text-white-two;
  }
  .headerLi {
    @apply text-white-two pb-1 relative hover:text-white before:absolute before:hover:w-full before:transition-all before:h-[2px] before:bg-green_blue before:bottom-0 before:w-0;
  }
}
