@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --green-blue: #00bb7e;
  --aqua-green: #0ede9b;
  --gray-default: #4a4b4c;
  --white-two: #a5a5a5;
  --cyan-default: #06b6d4;
  --cyan-green: #03b9a2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  padding: 0;
  margin: 0;
  font-family: var(--estedad-font);
  min-height: 100vh;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
}

@layer components {
  .icon {
    @apply w-5 h-5 text-white;
  }
  .menuIcon {
    @apply w-5 h-5 text-[#555775];
  }
  .headerLi {
    @apply text-white-two pb-1 relative hover:text-white before:absolute before:hover:w-full before:transition-all before:h-[2px] before:bg-green-blue before:bottom-0 before:w-0;
  }
  .SearchPanelButton {
    @apply bg-white-two shadow-SearchPanelButton py-3 px-6 rounded-t-md relative text-white;
  }
  .checkBox {
    @apply form-checkbox w-5 h-5 rounded text-green-blue focus:ring-2 ring-offset-1 ring-offset-green-blue !ring-green-blue;
  }
  .button {
    @apply rounded text-white font-medium bg-gradient-to-tr from-green-blue to-cyan-default py-2 px-6;
  }
  .authActiveButton {
    @apply rounded-md text-white bg-[#85948b] py-4 flex-1;
  }
  .authDeactiveButton {
    @apply rounded-md text-[#8b8b8b] bg-[#e2e2e2] py-4 flex-1;
  }
  .flexItems {
    @apply flex items-center gap-x-1;
  }
  .saveAndShareBtn {
    @apply w-7 h-7 text-gray-default/80 p-1 bg-white-two/40 rounded-full;
  }
  .detailsHeaderDeactiveBtn {
    @apply rounded-xl bg-none flex flex-col items-center justify-center text-white-two gap-y-4 font-medium text-xl;
  }
  .detailsHeaderActiveBtn {
    @apply rounded-xl bg-gradient-to-tr from-green-blue to-cyan-default flex flex-col items-center justify-center text-white gap-y-4 font-medium text-xl;
  }
  .detailsHeaderDeactiveImage {
    @apply w-16 xl:w-24 invert opacity-25;
  }
  .detailsHeaderActiveImage {
    @apply w-16 xl:w-24;
  }
  .svgIcon {
    @apply text-white-two w-7 h-7;
  }
  .authIcon {
    @apply w-8 h-8 text-gray-default/50 absolute top-1/2 -translate-y-1/2 right-3 border-l border-spacing-2 border-white-two/60 pl-1;
  }
  .authTextField {
    @apply form-input border border-white-two/60 w-full p-4 rounded-md focus:border-green-blue focus:ring-0 text-white-two placeholder:text-white-two;
  }
  .adminLi {
    @apply py-3 px-2 rounded-md hover:bg-gray-100 hover:text-green-blue text-gray-default/80 transition cursor-pointer flex items-center gap-x-2;
  }
  .svgIconAdmin {
    @apply fill-gray-default/80 w-7 h-7 group-hover:fill-green-blue;
  }
  .adminLiActive {
    @apply py-3 px-2 rounded-md hover:bg-gray-100 hover:text-green-blue transition cursor-pointer flex items-center gap-x-2 font-medium text-gray-default bg-gray-100;
  }
  .svgIconAdminActive {
    @apply fill-gray-default w-7 h-7 group-hover:fill-green-blue;
  }
}

.inputOtpField input[type="text"] {
  width: 100% !important;
  padding: 15px 5px !important;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}

.icon-stroke {
  stroke-width: 2px;
}

.swiper-button-prev {
  background-color: #fff;
  padding: 12px;
  border-radius: 50%;
  --swiper-navigation-size: 10px;
  --swiper-navigation-color: #8f8f8f;
  border: 1px solid #eeeeee;
}

.swiper-button-next {
  background-color: #fff;
  padding: 12px;
  border-radius: 50%;
  --swiper-navigation-size: 10px;
  --swiper-navigation-color: #8f8f8f;
  border: 1px solid #eeeeee;
}
